.wrapper {
    margin: 1.75rem 0 4rem;
    display: grid;
    min-height: 100vh;
    align-content: start;
}

.container {
    margin: 0 1rem;

    max-width: 1100px;
    width: 90%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    border: 0;
    background-color: inherit;
}

.nav-container {
    display: grid;
    gap: 2rem;
    position: relative;

    margin-bottom: 2rem;
}

.nav-bar {
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9rem 1.5rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.main-header {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.main-header p {
    margin: 1rem 0 1.5rem 0
}

.news-section {
    background-color: var(--clr-very-dark-blue);
    color: var(--clr-grayish-blue);
    padding: 1.5rem;
    margin-bottom: 4rem;
}

.news-section h2 {
    margin-bottom: 2rem;
    color: var(--clr-orange);
}

.news-section-data {   
    display: grid;
    gap: 3.8125rem;
}

.decoration {
    position: relative;
}

.decoration p::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1.8125rem;
    border:1px solid var( --clr-grayish-blue)
}

.articles {
    display: grid;
    gap: 2rem
}

.articles-data {
    gap: 1.5rem;
}

.articles-img {
    width: 30%;
}

.num {
    font-size: var(--fz-m);
    color: var(--clr-grayish-blue);
}

.article h4 {
    font-weight: var(--fw-extra-bold);
}

.article-description {
    color: var( --clr-dark-grayish-blue);
}

@media (min-width:800px) {
    .wrapper {
        margin: 0;
        margin-top: 5.5rem;
        justify-content: center;
    }

    .nav-bar {
        flex-direction: row;
        padding: 0;
        gap: 2.56rem;
        background-color: inherit;
    }

    .grid-container {
        display: grid;
        height: fit-content;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        gap: 1.875rem
    }

    h1 {
        font-size: var(--fz-xl);
        font-weight: var(--fw-extra-bold);
        line-height: var(--line-h-s);
    }

    .main-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: var(--line-h-m);
    }

    .articles {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
        width: 100%;
    }
}